@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

body {
    font-family: 'Noto Serif', serif;
    scroll-behavior: smooth;
}

/* COLOURS */

.colour-navbar {
    background-color: transparent;
}

.colour-navbar-brand {
    background-color: rgba(243, 243, 243, 0.9);
}

.colour-navbar-nav {
    background-color: rgba(243, 243, 243, 0.9);
}

.colour-navbar-toggler {
    background-color: rgba(243, 243, 243, 0.9);
}

#colour-landing-section {

}

.colour-testimonials-section {
    background-color: rgba(243, 243, 243, 0.9);
}

.colour-testimonials-title {
    background-color: rgba(243, 243, 243, 0.9);
}

.colour-testimonials-quotes-box {
    background-color: rgba(243, 243, 243, 0.9);
}

.colour-about-me-section {
    background-color: darkgrey;
    color:azure;
}

.colour-gallery-title {
    background-color: rgba(243, 243, 243, 0.9);
}

.colour-gallery-section {
    background-color: rgba(243, 243, 243, 0.9);
}

.colour-contact-section {
    color:azure;
}

.colour-form-group span {
    color: red;
}

.colour-footer {
    background-color: red;
}

/* MISC */
.image-container {
    text-align: center;
}

/* NAVBAR */

.navbar {
    padding: 0;
}

#navbar-section {

}

.navbar-brand {
    margin-right: 0;
    padding-right: 1rem;
    padding-left: 1rem;
}

.nav-item {
    scroll-behavior: smooth;
}

/* JUMBOTRON */
#landing-section {

}

.jumbotron {
    height: 100vh;
    width: auto;
    background-image: url("../images/pliers-tiles.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    margin-bottom: 0;
    text-align: center;
}

.jumbotron h1 {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

/* TESTIMONIALS */
#testimonials-section {
    padding-bottom: 3rem;
}

#testimonials-title {
    text-align: center;
}

#testimonials-title h2 {
    padding-top: 3rem;
}

.media img {
    height: 64px;
    width: auto;
    
}

.testimonials-quotes-box .blockquote {
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 3rem;
}

.testimonials-quotes-box p {
    padding-right: 3rem;
    padding-left: 3rem;
}




/* ABOUT ME */
#about-me-section {
    background-image: url("../images/dark-towel-tiles.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

#about-me-title {
    text-align: center;
}

#about-me-title h2 {
    padding-top: 3rem;
}

#about-me-list-parent {
    text-align: center;
    padding-left: 1rem;
}

#rick-image {
    width: 50%;
    height: 50%;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 2.5rem;
}

#about-me-content {
    font-size: 1.2rem;
}

.about-me-content-parent {
    padding-bottom: 2rem;
}

#about-me-content-parent  div {
    padding-left: 0;
    padding-right: 0;
}

/* GALLERY */
#gallery-section {
  
}

#gallery-title {
    text-align: center;
}

#gallery-title h2 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#gallery-card-parent {
    padding-bottom: 2rem;
}

/* CONTACT FORM */
#contact-section {
    background-image: url("../images/dark-towel-tiles.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

#contact-title {
    text-align: center;
}

#contact-title h2 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#contact-form {
    margin: 2rem;
    text-align: center;
}


/* FOOTER */
footer {
    height: 10rem;
}

/* MEDIA QUERIES */

